## Rooms

In [323]:
import pandas as pd

room_df = pd.read_csv('../data/updated_rooms.csv', usecols=['__id__', 'Type', 'Category', 'PropertyLocation',
       'Price', 'AmenitiesIncluded', 'Color', 'Wifi', 'AC', 'TV', 'Fridge', 'Bathroom', 'Balcony', 
       'Tags', 'No. of Beds', 'Bed Type', 'Floor No.', 'Rating/PopularityPercentage'])
room_df = room_df.replace('Yes', 1).replace('No', 0).replace('yes', 1).replace('no', 0)
room_df.head()

/var/folders/z7/q05wvhy91p562y7gl3x0ktyw0000gn/T/ipykernel_98877/3001592177.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  room_df = room_df.replace('Yes', 1).replace('No', 0).replace('yes', 1).replace('no', 0)

,__id__,AC,AmenitiesIncluded,Balcony,Bathroom,Bed Type,Category,Color,Floor No.,Fridge,No. of Beds,Price,PropertyLocation,Rating/PopularityPercentage,TV,Tags,Type,Wifi
0,8QnxJUDM4vaUEE2KfBxq,1,"Hair dryer, Writing desk, Accessible room upon...",0,1,Queen Bed,Standard,Yellow,1,0,1,152.97,"67 Hill Street, #04-01, Singapore 179370",84,0,"High Speed WiFi, Mobile Key Access, 1 Queen-si...",Studio,1
1,G1tL1nWYnkbBxNPJ7cPO,1,"Hair dryer, Shaving mirror, Towels Bedroom(s),...",1,1,Queen Bed,Deluxe,Beige,5,1,1,152.98,"80 Nepal Park, Singapore 139409",69,1,"Bay window with view, Quiet",Studio,0
2,LJ54kyR3G1zcPGdlcRfU,1,"Down feather comforters with duvet covers, In-...",0,1,single beds,Standard,yellow,4,0,2,52.00,"1-2-13, Imaizumi, Chuo-ku, Fukuoka-shi, Fukuok...",79,0,"High Floor, Garden View, Quiet",Studio Twin,0
3,WPPOkiEvnUdP8hpFC7SH,1,"Equipped work desk, Bath tub, Mobile key acces...",1,1,Queen Bed,Deluxe,Beige,9,1,1,82.00,"1-2-13, Imaizumi, Chuo-ku, Fukuoka-shi, Fukuok...",72,1,"Garden View, Pet Friendly",Studio Accessible,0
4,X8pTTej9Bk1QccyztEwL,1,"Eco-friendly bath amenities, Bathroom with a s...",0,0,double bed,Standard,White,6,0,1,152.97,"67 Hill Street, #04-01, Singapore 179370",76,0,Pet Friendly,Thematic Studio,1

In [4]:
room_df.columns

Index(['Name', 'Type', 'Description', 'Area', 'Category', 'PropertyLocation',
       'Price', 'AmenitiesIncluded', 'Color', 'Wifi', 'AC', 'TV', 'Fridge',
       'Bathroom', 'Balcony', 'Tags', 'Status', 'search_text', 'id',
       'No._of_Beds', 'Bed_Type', 'Floor_No.', 'Rating_PopularityPercentage',
       '_version_', '_root_'],
      dtype='object')

In [324]:
# no. of beds
# print(room_df['No. of Beds'].value_counts())

room_df['No. of Beds'] = room_df['No. of Beds'].apply(lambda x: x / 3)
# print(room_df['No. of Beds'].value_counts())

# floor no.
# print(room_df['Floor No.'].value_counts())

room_df['Floor No.'] = room_df['Floor No.'].apply(lambda x: x / 25)
# print(room_df['Floor No.'].value_counts())

# popularity percentage
room_df['Rating/PopularityPercentage'] = room_df['Rating/PopularityPercentage'].apply(lambda x: x / 100)

# Category
room_df['Category'] = room_df['Category'].apply(lambda x: 4 if x == 'Luxury' else 3 if x == 'Premium' else 2 if x == 'Deluxe' else 1)
room_df['Category'] = room_df['Category'].apply(lambda x: x / 4)

# Type
room_df['Type'] = room_df['Type'].apply(lambda x: 1 if x == 'Shared Room' else 2 if x == 'Single Room' else 3 if x == 'Studio' else 4 if x == 'Loft' else 5)
room_df['Type'] = room_df['Type'].apply(lambda x: x / 5)

# Bed Type
room_df['Bed Type'] = room_df['Bed Type'].apply(lambda x: 1 if x == 'Single Bed' else 2 if x == 'Double Bed' else 3 if x == 'Queen Bed' else 4)

In [325]:
extra_cols = []

# amenties
for element_list in room_df['AmenitiesIncluded'].unique().tolist():
    for element in element_list.split(', '):
        if element not in extra_cols:
            extra_cols.append(element)

print(extra_cols)

# price
# room_df['Price'].describe()
price_breaks = [0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500]
for i in range(1, len(price_breaks)):
    room_df['Price_' + str(price_breaks[i-1]) + '_' + str(price_breaks[i])] = room_df['Price'].apply(lambda x: 1 if x > price_breaks[i-1] and x <= price_breaks[i] else 0)
    # extra_cols.append('Price_' + str(price_breaks[i-1]) + '_' + str(price_breaks[i]))
print(extra_cols)

# tags
for element_list in room_df['Tags'].unique().tolist():
    for element in element_list.split(', '):
        if element not in extra_cols:
            extra_cols.append(element)
print(extra_cols)

# property location
for element in room_df['PropertyLocation'].unique().tolist():
    extra_cols.append('PropertyLocation_' + element)
print(extra_cols)

# color
for element in room_df['Color'].unique().tolist():
    extra_cols.append('Color_' + element)

# # type
# for element in room_df['Type'].unique().tolist():
#     print(element)
#     extra_cols.append('Type_' + element)

# # bed type
# for element in room_df['Bed Type'].unique().tolist():
#     extra_cols.append('Bed Type_' + element)

# # category
# for element in room_df['Category'].unique().tolist():
#     extra_cols.append('Category_' + element)

['Hair dryer', 'Writing desk', 'Accessible room upon request,Air-conditioning with individually controlled thermostats', 'Electric kettle', 'Mobile Key Access', 'Wireless internet connectivity (WiFi)', 'Shaving mirror', 'Towels Bedroom(s)', '1 queen-size bed', 'Down feather comforters with duvet covers', 'Down pillows', 'In-room electronic safe', 'Bedside table', 'Adjustable reading lights', 'Flat screen television with Chromecasting function', 'Bedroom with linen', 'Equipped work desk', 'Bath tub', 'Mobile key access', 'Fridge', 'Microwave', '2 pair of tableware', '1 Holding table & 2 chairs ', 'Queen Bed', 'Eco-friendly bath amenities', 'Bathroom with a separate shower', 'Towels', 'Bedroom(s)', '1 double bed', 'Wireless internet', 'WiFi', '\nAir-conditioning', 'Shared kitchenette', 'Microwave oven', 'Glassware', 'crockery', 'cutlery & utensils', 'Built-in microwave', 'oven', 'High Speed WiFi', 'Smart TV', 'Kitchen', 'Mobile Key Access,Hair dryer', 'High speed WiFi', 'Bath Amenities', 'Mini refrigerator', 'Electric kettle,Balcony with table set', 'Samsung Flip interactive display']
['Hair dryer', 'Writing desk', 'Accessible room upon request,Air-conditioning with individually controlled thermostats', 'Electric kettle', 'Mobile Key Access', 'Wireless internet connectivity (WiFi)', 'Shaving mirror', 'Towels Bedroom(s)', '1 queen-size bed', 'Down feather comforters with duvet covers', 'Down pillows', 'In-room electronic safe', 'Bedside table', 'Adjustable reading lights', 'Flat screen television with Chromecasting function', 'Bedroom with linen', 'Equipped work desk', 'Bath tub', 'Mobile key access', 'Fridge', 'Microwave', '2 pair of tableware', '1 Holding table & 2 chairs ', 'Queen Bed', 'Eco-friendly bath amenities', 'Bathroom with a separate shower', 'Towels', 'Bedroom(s)', '1 double bed', 'Wireless internet', 'WiFi', '\nAir-conditioning', 'Shared kitchenette', 'Microwave oven', 'Glassware', 'crockery', 'cutlery & utensils', 'Built-in microwave', 'oven', 'High Speed WiFi', 'Smart TV', 'Kitchen', 'Mobile Key Access,Hair dryer', 'High speed WiFi', 'Bath Amenities', 'Mini refrigerator', 'Electric kettle,Balcony with table set', 'Samsung Flip interactive display']
['Hair dryer', 'Writing desk', 'Accessible room upon request,Air-conditioning with individually controlled thermostats', 'Electric kettle', 'Mobile Key Access', 'Wireless internet connectivity (WiFi)', 'Shaving mirror', 'Towels Bedroom(s)', '1 queen-size bed', 'Down feather comforters with duvet covers', 'Down pillows', 'In-room electronic safe', 'Bedside table', 'Adjustable reading lights', 'Flat screen television with Chromecasting function', 'Bedroom with linen', 'Equipped work desk', 'Bath tub', 'Mobile key access', 'Fridge', 'Microwave', '2 pair of tableware', '1 Holding table & 2 chairs ', 'Queen Bed', 'Eco-friendly bath amenities', 'Bathroom with a separate shower', 'Towels', 'Bedroom(s)', '1 double bed', 'Wireless internet', 'WiFi', '\nAir-conditioning', 'Shared kitchenette', 'Microwave oven', 'Glassware', 'crockery', 'cutlery & utensils', 'Built-in microwave', 'oven', 'High Speed WiFi', 'Smart TV', 'Kitchen', 'Mobile Key Access,Hair dryer', 'High speed WiFi', 'Bath Amenities', 'Mini refrigerator', 'Electric kettle,Balcony with table set', 'Samsung Flip interactive display', '1 Queen-size bed', 'Max 2 pax', 'Bay window with view', 'Quiet', 'High Floor', 'Garden View', 'Pet Friendly', 'Shared Kitchen', 'Clean Room', 'City View', 'Sea ViewShared kitchenette', 'bunk beds (1 single + 1 super single)', 'Air-conditioning with individually controlled thermostats', 'Quiet,Fully-equipped kitchen', 'Balcony View', 'fridge', 'TV', 'Oven', '4 Beds']
['Hair dryer', 'Writing desk', 'Accessible room upon request,Air-conditioning with individually controlled thermostats', 'Electric kettle', 'Mobile Key Access', 'Wireless internet connectivity (WiFi)', 'Shaving mirror', 'Towels Bedroom(s)', '1 queen-size bed', 'Down feather comforters with duvet covers', 'Down pillows', 'In-room electronic safe', 'Bedside table', 'Adjustable reading lights', 'Flat screen television with Chromecasting function', 'Bedroom with linen', 'Equipped work desk', 'Bath tub', 'Mobile key access', 'Fridge', 'Microwave', '2 pair of tableware', '1 Holding table & 2 chairs ', 'Queen Bed', 'Eco-friendly bath amenities', 'Bathroom with a separate shower', 'Towels', 'Bedroom(s)', '1 double bed', 'Wireless internet', 'WiFi', '\nAir-conditioning', 'Shared kitchenette', 'Microwave oven', 'Glassware', 'crockery', 'cutlery & utensils', 'Built-in microwave', 'oven', 'High Speed WiFi', 'Smart TV', 'Kitchen', 'Mobile Key Access,Hair dryer', 'High speed WiFi', 'Bath Amenities', 'Mini refrigerator', 'Electric kettle,Balcony with table set', 'Samsung Flip interactive display', '1 Queen-size bed', 'Max 2 pax', 'Bay window with view', 'Quiet', 'High Floor', 'Garden View', 'Pet Friendly', 'Shared Kitchen', 'Clean Room', 'City View', 'Sea ViewShared kitchenette', 'bunk beds (1 single + 1 super single)', 'Air-conditioning with individually controlled thermostats', 'Quiet,Fully-equipped kitchen', 'Balcony View', 'fridge', 'TV', 'Oven', '4 Beds', 'PropertyLocation_67 Hill Street, #04-01, Singapore 179370', 'PropertyLocation_80 Nepal Park, Singapore 139409', 'PropertyLocation_1-2-13, Imaizumi, Chuo-ku, Fukuoka-shi, Fukuoka, 810-0021, Japan']

In [326]:
filtered_room_df_cols = ['__id__', 'Type', 'Category', 'Wifi', 'AC', 'TV', 'Fridge', 'Bathroom', 'Balcony', 
                         'No. of Beds', 'Bed Type', 'Floor No.', 'Rating/PopularityPercentage',
                         'Price_0_50', 'Price_50_100', 'Price_100_150', 'Price_150_200', 'Price_200_250', 
                         'Price_250_300', 'Price_300_350', 'Price_350_400', 'Price_400_450', 'Price_450_500']

In [327]:
len(filtered_room_df_cols + extra_cols)

100

In [328]:
# create a new dataframe with filtered columns and extra columns
filtered_room_df = room_df[filtered_room_df_cols].copy()
for col in extra_cols:
    filtered_room_df[col] = 0

filtered_room_df.head()

# fill in the extra columns
for index, row in room_df.iterrows():
    for value in row['AmenitiesIncluded'].split(', '):
        filtered_room_df.at[index, value] = 1
    for value in row['Tags'].split(', '):
        filtered_room_df.at[index, value] = 1
    filtered_room_df.at[index, 'PropertyLocation_' + row['PropertyLocation']] = 1
    filtered_room_df.at[index, 'Color_' + row['Color']] = 1
    # filtered_room_df.at[index, 'Type_' + row['Type']] = 1
    # filtered_room_df.at[index, 'Bed_Type_' + row['Bed_Type']] = 1
    # filtered_room_df.at[index, 'Category_' + row['Category']] = 1

# for index, row in room_df.iterrows():
#     for col in filtered_room_df.columns:
#         if col in extra_cols:
#             if col in row['AmenitiesIncluded'].split(', '):
#                 filtered_room_df.at[index, col] = 1
#             elif col in row['Tags'].split(', '):
#                 filtered_room_df.at[index, col] = 1
#             elif col in row['PropertyLocation']:
#                 filtered_room_df.at[index, 'PropertyLocation_'+col] = 1
#             elif col in row['Color']:
#                 filtered_room_df.at[index, 'Color_'+col] = 1
#             elif col in row['Type']:
#                 filtered_room_df.at[index, 'Type_'+col] = 1
#             elif col in row['Bed_Type']:
#                 filtered_room_df.at[index, 'Bed_Type_'+col] = 1
#             elif col in row['Category']:
#                 filtered_room_df.at[index, 'Category_'+col] = 1

filtered_room_df.head()

,__id__,Type,Category,Wifi,AC,TV,Fridge,Bathroom,Balcony,No. of Beds,...,"PropertyLocation_67 Hill Street, #04-01, Singapore 179370","PropertyLocation_80 Nepal Park, Singapore 139409","PropertyLocation_1-2-13, Imaizumi, Chuo-ku, Fukuoka-shi, Fukuoka, 810-0021, Japan",Color_Yellow,Color_Beige,Color_yellow,Color_White,Color_Pink,Color_Blue,Color_Gray
0,8QnxJUDM4vaUEE2KfBxq,0.6,0.25,1,1,0,0,1,0,0.333333,...,1,0,0,1,0,0,0,0,0,0
1,G1tL1nWYnkbBxNPJ7cPO,0.6,0.50,0,1,0,0,1,1,0.333333,...,0,1,0,0,1,0,0,0,0,0
2,LJ54kyR3G1zcPGdlcRfU,1.0,0.25,0,1,0,0,1,0,0.666667,...,0,0,1,0,0,1,0,0,0,0
3,WPPOkiEvnUdP8hpFC7SH,1.0,0.50,0,1,0,1,1,1,0.333333,...,0,0,1,0,1,0,0,0,0,0
4,X8pTTej9Bk1QccyztEwL,1.0,0.25,1,1,0,0,0,0,0.333333,...,1,0,0,0,0,0,1,0,0,0

In [329]:
filtered_room_df.columns

Index(['__id__', 'Type', 'Category', 'Wifi', 'AC', 'TV', 'Fridge', 'Bathroom',
       'Balcony', 'No. of Beds', 'Bed Type', 'Floor No.',
       'Rating/PopularityPercentage', 'Price_0_50', 'Price_50_100',
       'Price_100_150', 'Price_150_200', 'Price_200_250', 'Price_250_300',
       'Price_300_350', 'Price_350_400', 'Price_400_450', 'Price_450_500',
       'Hair dryer', 'Writing desk',
       'Accessible room upon request,Air-conditioning with individually controlled thermostats',
       'Electric kettle', 'Mobile Key Access',
       'Wireless internet connectivity (WiFi)', 'Shaving mirror',
       'Towels Bedroom(s)', '1 queen-size bed',
       'Down feather comforters with duvet covers', 'Down pillows',
       'In-room electronic safe', 'Bedside table', 'Adjustable reading lights',
       'Flat screen television with Chromecasting function',
       'Bedroom with linen', 'Equipped work desk', 'Bath tub',
       'Mobile key access', 'Microwave', '2 pair of tableware',
       '1 Holding table & 2 chairs ', 'Queen Bed',
       'Eco-friendly bath amenities', 'Bathroom with a separate shower',
       'Towels', 'Bedroom(s)', '1 double bed', 'Wireless internet', 'WiFi',
       '\nAir-conditioning', 'Shared kitchenette', 'Microwave oven',
       'Glassware', 'crockery', 'cutlery & utensils', 'Built-in microwave',
       'oven', 'High Speed WiFi', 'Smart TV', 'Kitchen',
       'Mobile Key Access,Hair dryer', 'High speed WiFi', 'Bath Amenities',
       'Mini refrigerator', 'Electric kettle,Balcony with table set',
       'Samsung Flip interactive display', '1 Queen-size bed', 'Max 2 pax',
       'Bay window with view', 'Quiet', 'High Floor', 'Garden View',
       'Pet Friendly', 'Shared Kitchen', 'Clean Room', 'City View',
       'Sea ViewShared kitchenette', 'bunk beds (1 single + 1 super single)',
       'Air-conditioning with individually controlled thermostats',
       'Quiet,Fully-equipped kitchen', 'Balcony View', 'fridge', 'Oven',
       '4 Beds', 'PropertyLocation_67 Hill Street, #04-01, Singapore 179370',
       'PropertyLocation_80 Nepal Park, Singapore 139409',
       'PropertyLocation_1-2-13, Imaizumi, Chuo-ku, Fukuoka-shi, Fukuoka, 810-0021, Japan',
       'Color_Yellow', 'Color_Beige', 'Color_yellow', 'Color_White',
       'Color_Pink', 'Color_Blue', 'Color_Gray'],
      dtype='object')

In [330]:
list(filtered_room_df.loc[0])

['8QnxJUDM4vaUEE2KfBxq',
 0.6,
 0.25,
 1,
 1,
 0,
 0,
 1,
 0,
 0.3333333333333333,
 3,
 0.04,
 0.84,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0]

In [331]:
filtered_room_df.isna().sum().sum()

0

In [332]:
filtered_room_df.to_csv('../data/room_recommendation.csv', index=False)

## Friends

In [17]:
import pandas as pd

friends_df = pd.read_csv(
    '../data/user_details_new.csv', 
    usecols=['__id__', 'gender', 'dob', 'country', 'city', 
             'language', 'profession', 'fieldsOfInterest', 'hobbies']
)
friends_df.head()

,__id__,city,country,dob,fieldsOfInterest,gender,hobbies,language,profession
0,0o9Om6ocf2znbNIC9IjD,Sydney,Australia,27/07/87,"Science, Engineering",female,"Yoga/Meditation, Photography",English,Science & Research
1,1flATjj2hyfXsLbZyW5gyPepFKt1,Bangalore,India,30/7/99,"Technology,Science,Fitness & Wellness,Travel &...",Male,"Traveling,Music,Reading,Playing Video Games,Le...",English,Technology & IT
2,3di3P85ndVZ3YGl7AG2p,Mexico City,Mexico,13/03/90,"Finance, Business, Marketing",male,"Hiking/Camping, Playing Sports",Spanish,Business & Finance
3,3hvpMnHluWki5NJNAPh2,Toronto,Canada,22/11/90,"Healthcare, Fitness & Wellness, Education",female,"Yoga/Meditation, Reading",English,Healthcare
4,3mGW6O7KZrJNUUaquz1H,Rome,Italy,22/05/87,"Travel & Tourism, Social Impact",female,"Traveling, Photography",Italian,Hospitality & Tourism

In [50]:
friends_df.columns

Index(['userId', 'email', 'name', 'gender', 'dob', 'country', 'city', 'mobile',
       'language', 'profession', 'fieldsOfInterest', 'hobbies'],
      dtype='object')

In [18]:
extra_cols = []

# gender
for element in friends_df['gender'].unique().tolist():
    extra_cols.append('gender_' + element)

# country
for element in friends_df['country'].unique().tolist():
    extra_cols.append('country_' + element)

# city
for element in friends_df['city'].unique().tolist():
    extra_cols.append('city_' + element)

# language
for element in friends_df['language'].unique().tolist():
    extra_cols.append('language_' + element)

# profession
for element in friends_df['profession'].unique().tolist():
    extra_cols.append('profession_' + element)

# fields of interest
for element_list in friends_df['fieldsOfInterest'].unique().tolist():
    for element in element_list.split(', '):
        if element not in extra_cols:
            extra_cols.append(element)

# hobbies
for element_list in friends_df['hobbies'].unique().tolist():
    for element in element_list.split(', '):
        if element not in extra_cols:
            extra_cols.append(element)

# age group
# eg 19/04/95
friends_df['year'] = pd.to_datetime(friends_df['dob'], format='%d/%m/%y')
friends_df['age'] = 2024 - friends_df['year'].dt.year
age_breaks = [18, 25, 35, 45, 60]
for i in range(1, len(age_breaks)):
    friends_df['age_' + str(age_breaks[i-1]) + '_' + str(age_breaks[i])] = friends_df['age'].apply(lambda x: 1 if x > age_breaks[i-1] and x <= age_breaks[i] else 0)
    # extra_cols.append('age_' + str(age_breaks[i-1]) + '_' + str(age_breaks[i]))

print(extra_cols)

['gender_female', 'gender_Male', 'gender_male', 'gender_trans', 'country_Australia', 'country_India', 'country_Mexico', 'country_Canada', 'country_Italy', 'country_Ghana', 'country_UK', 'country_Malaysia', 'country_Germany', 'country_Brazil', 'country_Japan', 'country_China', 'country_Russia', 'country_South Korea', 'country_France', 'country_Singapore', 'country_Spain', 'country_Saudi Arabia', 'country_Sweden', 'country_USA', 'country_Argentina', 'country_New Zealand', 'country_UAE', 'country_Netherlands', 'country_South Africa', 'country_United Arab Emirates', 'country_Indonesia', 'city_Sydney', 'city_Bangalore', 'city_Mexico City', 'city_Toronto', 'city_Rome', 'city_Accra', 'city_London', 'city_Kuala Lumpur', 'city_Berlin', 'city_São Paulo', 'city_Tokyo', 'city_Beijing', 'city_Moscow', 'city_Seoul', 'city_Paris', 'city_Mumbai', 'city_Singapore', 'city_Madrid', 'city_Chennai', 'city_Riyadh', 'city_Stockholm', 'city_New York', 'city_Buenos Aires', 'city_Auckland', 'city_Dubai', 'city_Barcelona', 'city_Melbourne', 'city_Amsterdam', 'city_Los Angeles', 'city_Shanghai', 'city_Cape Town', 'city_Birmingham', 'city_Jakarta', 'language_English', 'language_Spanish', 'language_Italian', 'language_Malay', 'language_German', 'language_Portuguese', 'language_Japanese', 'language_Chinese', 'language_Russian', 'language_Korean', 'language_Mandarin', 'language_French', 'language_Hindi', 'language_Arabic', 'language_Swedish', 'language_Dutch', 'language_Indonesian', 'language_Afrikaans', 'profession_Science & Research', 'profession_Technology & IT', 'profession_Business & Finance', 'profession_Healthcare', 'profession_Hospitality & Tourism', 'profession_Education', 'profession_Arts & Entertainment', 'profession_Retail & E-commerce', 'profession_Legal', 'profession_Media & Communication', 'Science', 'Engineering', 'Technology,Science,Fitness & Wellness,Travel & Tourism,Finance', 'Finance', 'Business', 'Marketing', 'Healthcare', 'Fitness & Wellness', 'Education', 'Travel & Tourism', 'Social Impact', 'Creative Arts', 'Music', 'Fashion & Design', 'Government', 'Technology', 'Gaming', 'Media & Journalism', 'Media', 'Environment', 'Finance,Marketing,Technology,Science,Business', 'Food & Culinary', 'Cryptocurrency', 'Fitness', 'Wellness', 'Retail', 'Real Estate', 'Yoga/Meditation', 'Photography', 'Traveling,Music,Reading,Playing Video Games,Learning New Skills', 'Hiking/Camping', 'Playing Sports', 'Reading', 'Traveling', 'Gardening', 'Socializing', 'Cooking/Baking', 'Dancing', 'Volunteer', 'Art & Craft', 'Collecting', 'Board Games or Puzzles', 'Playing Video Games', 'Learning New Skills', 'Fitness/Exercise', 'Volunteering', 'Watching Movies/TV Shows', 'Reading,Playing Video Games,Photography,Music,Volunteering,Collecting', 'Writing']

In [19]:
filtered_friends_df_cols = ['__id__', 'age_18_25', 'age_25_35', 'age_35_45', 'age_45_60']

In [20]:
len(filtered_friends_df_cols + extra_cols)

146

In [21]:
# create a new dataframe with filtered columns and extra columns
filtered_friends_df = friends_df[filtered_friends_df_cols].copy()
# filtered_friends_df = pd.concat(filtered_friends_df, axis=1)
new_cols_df = pd.DataFrame(0, index=filtered_friends_df.index, columns=extra_cols)

# Concatenate the new columns to the existing DataFrame
filtered_friends_df = pd.concat([filtered_friends_df, new_cols_df], axis=1)
# filtered_friends_df = pd.concat([filtered_friends_df] + extra_cols, axis=1)
# for col in extra_cols:
#     filtered_friends_df.loc[:, col] = 0

# filtered_friends_df = pd.concat(filtered_friends_df, axis=1)

filtered_friends_df.head()

# fill in the extra columns
for index, row in friends_df.iterrows():
    for value in row['fieldsOfInterest'].split(', '):
        filtered_friends_df.at[index, value] = 1
    for value in row['hobbies'].split(', '):
        filtered_friends_df.at[index, value] = 1
    filtered_friends_df.at[index, 'gender_' + row['gender']] = 1
    filtered_friends_df.at[index, 'country_' + row['country']] = 1
    filtered_friends_df.at[index, 'city_' + row['city']] = 1
    filtered_friends_df.at[index, 'language_' + row['language']] = 1
    filtered_friends_df.at[index, 'profession_' + row['profession']] = 1

filtered_friends_df.head()

,__id__,age_18_25,age_25_35,age_35_45,age_45_60,gender_female,gender_Male,gender_male,gender_trans,country_Australia,...,Art & Craft,Collecting,Board Games or Puzzles,Playing Video Games,Learning New Skills,Fitness/Exercise,Volunteering,Watching Movies/TV Shows,"Reading,Playing Video Games,Photography,Music,Volunteering,Collecting",Writing
0,0o9Om6ocf2znbNIC9IjD,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1flATjj2hyfXsLbZyW5gyPepFKt1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3di3P85ndVZ3YGl7AG2p,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3hvpMnHluWki5NJNAPh2,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3mGW6O7KZrJNUUaquz1H,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
filtered_friends_df.columns

Index(['__id__', 'age_18_25', 'age_25_35', 'age_35_45', 'age_45_60',
       'gender_female', 'gender_Male', 'gender_male', 'gender_trans',
       'country_Australia',
       ...
       'Art & Craft', 'Collecting', 'Board Games or Puzzles',
       'Playing Video Games', 'Learning New Skills', 'Fitness/Exercise',
       'Volunteering', 'Watching Movies/TV Shows',
       'Reading,Playing Video Games,Photography,Music,Volunteering,Collecting',
       'Writing'],
      dtype='object', length=146)

In [23]:
filtered_friends_df.loc[0]

__id__                                                                   0o9Om6ocf2znbNIC9IjD
age_18_25                                                                                   0
age_25_35                                                                                   0
age_35_45                                                                                   1
age_45_60                                                                                   0
                                                                                 ...
Fitness/Exercise                                                                            0
Volunteering                                                                                0
Watching Movies/TV Shows                                                                    0
Reading,Playing Video Games,Photography,Music,Volunteering,Collecting                       0
Writing                                                                                     0
Name: 0, Length: 146, dtype: object

In [24]:
filtered_friends_df.isna().sum().sum()

0

In [25]:
filtered_friends_df.to_csv('../data/friends_recommendation.csv', index=False)

## Recommendation

### friends

In [26]:
import json

def convert_user_to_row(user_dict):
    # convert user to filtered friends row format
    user_df = pd.DataFrame(user_dict, index=[0])
    user_df = user_df.replace('Yes', 1).replace('No', 0)
    user_df['year'] = pd.to_datetime(user_df['dob'], format='%d/%m/%y')
    user_df['age'] = 2024 - user_df['year'].dt.year

    user_df.loc[:, list(set(filtered_friends_df.columns) - set(user_df.columns))] = 0

    # age group
    for i in range(1, len(age_breaks)):
        user_df['age_' + str(age_breaks[i-1]) + '_' + str(age_breaks[i])] = user_df['age'].apply(lambda x: 1 if x > age_breaks[i-1] and x <= age_breaks[i] else 0)

    # fill in the extra columns
    for value in user_df['fieldsOfInterest'].values[0].split(', '):
        user_df.at[0, value] = 1
    for value in user_df['hobbies'].values[0].split(', '):
        user_df.at[0, value] = 1
    for value in user_df['gender']:
        user_df.at[0, 'gender_' + value] = 1
    for value in user_df['country']:
        user_df.at[0, 'country_' + value] = 1
    # for value in user_df['city'].values[0]:
    #     user_df.at[0, 'city_' + value] = 1
    for value in user_df['language']:
        user_df.at[0, 'language_' + value] = 1
    for value in user_df['profession']:
        user_df.at[0, 'profession_' + value] = 1

    # user_df['userId', 'age_18_25', 'age_25_35', 'age_35_45', 'age_45_60', 'gender_male', 'gender_female', 'gender_trans', 'country_USA', 'country_Canada', 'country_UK', 'country_Australia', 'country_Germany', 'country_France', 'country_India', 'country_Brazil', 'country_Japan', 'country_South Korea', 'country_Mexico', 'country_Italy', 'country_Netherlands', 'country_Sweden', 'country_South Africa', 'country_Spain', 'country_Russia', 'country_Singapore', 'country_Argentina', 'country_China', 'country_Saudi Arabia', 'country_Ghana', 'country_UAE', 'country_United Arab Emirates', 'country_New Zealand', 'country_Malaysia', 'country_Indonesia', 'city_New York', 'city_Toronto', 'city_London', 'city_Sydney', 'city_Berlin', 'city_Paris', 'city_Mumbai', 'city_São Paulo', 'city_Tokyo', 'city_Seoul', 'city_Mexico City', 'city_Rome', 'city_Amsterdam', 'city_Stockholm', 'city_Cape Town', 'city_Barcelona', 'city_Moscow', 'city_Singapore', 'city_Buenos Aires', 'city_Beijing', 'city_Madrid', 'city_Riyadh', 'city_Accra', 'city_Dubai', 'city_Shanghai', 'city_Auckland', 'city_Melbourne', 'city_Kuala Lumpur', 'city_Birmingham', 'city_Jakarta', 'city_Los Angeles', 'language_English', 'language_German', 'language_French', 'language_Hindi', 'language_Portuguese', 'language_Japanese', 'language_Korean', 'language_Spanish', 'language_Italian', 'language_Dutch', 'language_Swedish', 'language_Afrikaans', 'language_Russian', 'language_Mandarin', 'language_Arabic', 'language_Chinese', 'language_Malay', 'language_Indonesian', 'profession_Technology & IT', 'profession_Healthcare', 'profession_Education', 'profession_Arts & Entertainment', 'profession_Business & Finance', 'profession_Media & Communication', 'profession_Science & Research', 'profession_Retail & E-commerce', 'profession_Hospitality & Tourism', 'profession_Legal', 'Technology', 'Gaming', 'Finance', 'Healthcare', 'Fitness & Wellness', 'Education', 'Social Impact', 'Creative Arts', 'Media & Journalism', 'Business', 'Marketing', 'Science', 'Engineering', 'Environment', 'Fashion & Design', 'Travel & Tourism', 'Real Estate', 'Media', 'Retail', 'Government', 'Fitness', 'Wellness', 'Cryptocurrency', 'Music', 'Food & Culinary', 'Reading', 'Traveling', 'Fitness/Exercise', 'Cooking/Baking', 'Yoga/Meditation', 'Volunteering', 'Learning New Skills', 'Photography', 'Art & Craft', 'Collecting', 'Socializing', 'Watching Movies/TV Shows', 'Dancing', 'Hiking/Camping', 'Gardening', 'Playing Video Games', 'Writing', 'Playing Sports', 'Board Games or Puzzles', 'Volunteer'].head()
    return user_df.loc[:, list(filtered_friends_df.columns)].values[0]


# example user
user = friends_df.loc[7].to_json()
user_dict = json.loads(user)
print(convert_user_to_row(user_dict))

['78N6SoAjHjT8aEZNsyMQ' 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0]

In [334]:
bookings_df = pd.read_csv('../data/room_bookings.csv')
bookings_df.head()

   bookingId                roomId  userId            name
0     111111  8QnxJUDM4vaUEE2KfBxq  7G8H9I      Alex Jones
1     111112  m3200PbQBse1Y7dff5u0  7G8H9I      Alex Jones
2     111113  8QnxJUDM4vaUEE2KfBxq  7G8H9I      Alex Jones
3     111114  Xk7rlMsxvJVGfaoNsu6j  1S2T3U    David Miller
4     111115  LJ54kyR3G1zcPGdlcRfU  4E5F6G  Matthew Taylor

In [29]:
import numpy as np

room_recommendation_df = pd.read_csv('../data/room_recommendation.csv')
# print(room_recommendation_df.head())
friends_recommendation_df = pd.read_csv('../data/friends_recommendation.csv')
# print(friends_recommendation_df.head())
bookings_df = pd.read_csv('../data/room_bookings.csv')
# print(bookings_df.head())

def recommend_room(user_dict, room_recommendation_df):
    # user_row = convert_user_to_row(user_dict)
    room_recommendation_df['score'] = 0.0
    
    # get similar users
    friends = recommend_friends(user_dict, friends_recommendation_df.copy())

    # get past bookings
    user_room_booking_ids = bookings_df.loc[bookings_df['userId'].isin([user_dict['__id__'], *friends]), 'roomId'].values
    if len(user_room_booking_ids) != 0:
        for room_id in user_room_booking_ids:
            # print(room_recommendation_df.head())
            # room_id = row['roomId']
            room_row = room_recommendation_df.loc[room_recommendation_df['__id__'] == room_id].values[0]
            
            # room_recommendation_df['score'] = room_recommendation_df['score'].astype(float) + room_recommendation_df.apply(lambda x: float(x['score']) + sum(x[1:] * room_row[1:]) / len(room_row[1:]), axis=1).astype(float)
            room_recommendation_df['score'] += room_recommendation_df.apply(
                lambda x: (sum(x[1:] * room_row[1:]) / len(room_row[1:])), axis=1
            )
        # room_recommendation_df = room_recommendation_df.loc[room_recommendation_df['id'] != user_dict['userId']]
        # room_recommendation_df['score'] = room_recommendation_df.apply(lambda x: sum(x[1:] * user_row[1:]), axis=1)

    return room_recommendation_df.sort_values(by='score', ascending=False).loc[:5, '__id__'].tolist() #.head(5)

def recommend_friends(user_dict, friends_recommendation_df):
    user_row = convert_user_to_row(user_dict)
    filtered_friends_recommendation_df = friends_recommendation_df.loc[friends_recommendation_df['__id__'] != user_dict['__id__']].copy()
    filtered_friends_recommendation_df.loc[:, 'score'] = filtered_friends_recommendation_df.apply(lambda x: sum(x[1:] * user_row[1:]) / len(user_row[1:]), axis=1)
    return filtered_friends_recommendation_df.sort_values(by='score', ascending=False).loc[:5, '__id__'].tolist() #.head(5)

user = friends_df.loc[7].to_json()
user_dict = json.loads(user)
print(recommend_friends(user_dict, friends_recommendation_df.copy()))

user = friends_df.loc[7].to_json()
print(user)
user_dict = json.loads(user)
recommend_room(user_dict, room_recommendation_df.copy())

['Mva4XV4sKLHTwLYC9oKQ', 'MDf6KLf0YrMDqsZk62JC', 'lA2lNlq3ypzxlJT9JjsD', 'LKecc98B92zVywNYET98', 'JEBCT1tWzahqUR83K5jH', '3hvpMnHluWki5NJNAPh2', 'j0D89TzvGbHlaXMQ9Mz8', 'izqT9lzUtNhojLBORupf', '7Br34EpmjJrThVjBdcPl', 'hPL20jr9RcGXY3Ga8Kry', 'dEqp9LaDEOpjFXJwGoJb', 'GJa4FozSCt4va70tJvI6', 'sNzzR2iJaXzy9PvOvFIN', 'QHAONvwo20yRKq5POUsg', 'QHiaWzOToXyXnnUingMX', '0o9Om6ocf2znbNIC9IjD', 'UcJOKH12C6uhj6GAJGTK', 'dxu6mW7n4t9X6RWSvP2A', 'iiBwVKvQKlu8V5PlNZ49', 'jB2egsco0ooCgytdB6Pv', 'eeeCNG9Qile7DQADyC5C', 'mocTrVB8QenYj7Tgjn6A', 'KkZHYqJK7oFpSE1PyRcA', '4ImFpAqVDKKn2n1WhpS1']
{"__id__":"78N6SoAjHjT8aEZNsyMQ","city":"Sydney","country":"Australia","dob":"05\/03\/92","fieldsOfInterest":"Education, Creative Arts","gender":"trans","hobbies":"Dancing, Volunteer","language":"English","profession":"Education","year":699753600000,"age":32,"age_18_25":0,"age_25_35":1,"age_35_45":0,"age_45_60":0}

['8QnxJUDM4vaUEE2KfBxq',
 'G1tL1nWYnkbBxNPJ7cPO',
 'LJ54kyR3G1zcPGdlcRfU',
 'WPPOkiEvnUdP8hpFC7SH',
 'X8pTTej9Bk1QccyztEwL',
 'Xk7rlMsxvJVGfaoNsu6j']

### rooms